
.container{
    height: 300px;
    background: aliceblue;
}

.flex{
    display: flex;
}
.flex-grow{
    flex-grow: 1;
}.flex-grow-2{
    flex-grow: 2;
}.flex-grow-0{
    flex-grow: 0;
}

.item{
    background: #11b880;
    margin: 16px;
    padding: 16px;
}